
  <div class="container">
    <div class="row">
      <!-- Logo -->
      <div class="col-md-3 g-hidden-md-down">
        <a href="" class="navbar-brand"><img src="" alt="Site Logo"></a>
      </div>
      <!-- End Logo -->
      <!-- Subscribe Form -->
      <div class="col-6 col-md-5">
        <form action="" class="input-group rounded"><input type="text" class="form-control">
          <span class="input-group-append">
            <button class="btn btn-secondary" type="submit">
              <span class="g-hidden-md-down">Search</span>
              <i class="g-hidden-lg-up fa fa-search"></i>
            </button>
          </span></form>
      </div>
      <!-- End Subscribe Form -->
      <!-- Account -->
      <!-- End Account -->
    </div>
  </div>
